<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misan</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <header class="header">

        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                 <img src="img/Logo.PNG" alt="" height="70px">
                </a>

                <nav class="navegacion">
                    <a class="navegacion__enlace" href="nosotros.html">Nosotros</a>
                     
                    <a class="navegacion__enlace" href="registro.html">Registro</a>
                    <ul>
                        <li><label class="navegacion__enlace">¿Dudas?</label>
                            <ul>
                                <li><a href="requisitos.html">Requisitos</a></li>
                                <li><a href="mitos.html">Mitos</a></li>
                                <li><a href="pf.html">Preguntas frecuentes</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
   </header>
   

    <main class="contenedor">
         <h3 class="centrar-texto">Login</h3>
         <div class="contacto-bg"></div>        
         
         <form class="formulario" method="POST">
   
             <div class="campo">
                <label class="campo__label" for="Email">Email</label>
                <input class="campo__field" type="email" name="email" placeholder="Tu Email" id="email">
            </div>

            <div class="campo">
                <label class="campo__label" for="contraseña">Contraseña</label>
                <input class="campo__field" type="password" name="password" placeholder="introduce una contraseña" id="contrasena">
            </div>

            <div class="campo">
                <input type="submit" value="Iniciar Sesión" class="boton boton--primario" >
            </div>
         </form>
    </main>
    <footer class="footer">
        <div class="contenedor">
            <div class="barra-inferior">
                
                    <a class="logo" href="index.html">
                    <img src="img/Logo.PNG" alt="" height="70px">
                    </a>

                    <p>Misan 2022. Todos los derechos reservados.</p>
                
            </div>
        </div>
    </footer>

    <script src="js/modernizr.js"></script>
    <script src="js/funcionesInicio.js"></script>
</body>
</html>