<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página web de blog de café">
    <title>Misan</title>

    <!--prefetch: sirve para precargar páginas-->
    <link rel="prefetch" href="nosotros.html" as="document">

    <!--Preload: sirve para precargar elementos que consideremos esenciales-->
    <link rel="preload" href="css/normalize.css" as="style">
    <link rel="stylesheet" href="css/normalize.css">

    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
        crossorigin="crossorigin" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
        rel="stylesheet">

    <link rel="preload" href="css/styles.css" as="style">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

</head>

<body>
    <header class="header">
	<input th:value="${#authentication.name}" type="hidden" id="nombre-usuario">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                    <img src="img/Logo.PNG" alt="" height="70px">
                </a>

                <nav class="navegacion">

                    <a class="navegacion__enlace" href="nosotros.html">Nosotros</a>

                    <a class="navegacion__enlace" href="registro.html">Registro</a>
                    <ul>
                        <li><label class="navegacion__enlace">¿Dudas?</label>
                            <ul>
                                <li><a href="requisitos.html">Requisitos</a></li>
                                <li><a href="mitos.html">Mitos</a></li>
                                <li><a href="pf.html">Preguntas frecuentes</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="bg-img">
        <div class="overlay">
            <div class="header__texto">
                <h2 class="no-margin h2-espacio">#Donación de sangre</h2>
                <p class="no-margin">Donar tu sangre puede ayudar salvar vidas</p>
            </div>
        </div>
    </div>

    <main class="contenedor">
        <h3>Receptor</h3>


        <h4>Lista de donadores</h4>

        <div class="contenedor-receptores">

            <table id="myTable" class="hover row-border">
                <thead>
                    <tr>
                        <th><strong>Nombre</strong></th>
                        <th><strong>Ciudad</strong></th>
                        <th><strong>Tipos de sangre</strong></th>
                        <th></th>
                </thead>
                </tr>
                <tbody>
                    <tr>
                        <td>Joaquín Félix</td>
                        <td>Los Mochis</td>
                        <td> O+</td>
                        <td> <input class="boton boton--primario" type="button" value="Enviar solicitud"> </td>
                    </tr>

                    <tr>
                        <td>Pedro Parques</td>
                        <td>Culiacán</td>
                        <td>AB+</td>
                        <td> <input class="boton boton--primario" type="button" value="Enviar solicitud"> </td>
                    </tr>

                    <tr>
                        <td>Carlos Eduardo Valenzuela Corrales</td>
                        <td>Mazatlán</td>
                        <td>O-</td>
                        <td> <input class="boton boton--primario" type="button" value="Enviar solicitud"> </td>
                    </tr>
                    <tr>
                        <td>Antonio Estrella</td>
                        <td>Mazatlán</td>
                        <td>O-</td>
                        <td> <input class="boton boton--primario" type="button" value="Enviar solicitud"> </td>
                    </tr>
                    <tr>
                        <td>Antonio Estrella</td>
                        <td>Mazatlán</td>
                        <td>O-</td>
                        <td> <input class="boton boton--primario" type="button" value="Enviar solicitud"> </td>
                    </tr>
                    <tr>
                        <td>Antonio Estrella</td>
                        <td>Mazatlán</td>
                        <td>O-</td>
                        <td> <input class="boton boton--primario" type="button" value="Enviar solicitud"> </td>
                    </tr>
                    <tr>
                        <td>Antonio Estrella</td>
                        <td>Mazatlán</td>
                        <td>O-</td>
                        <td> <input class="boton boton--primario" type="button" value="Enviar solicitud"> </td>
                    </tr>
                    <tr>
                        <td>Antonio Estrella</td>
                        <td>Mazatlán</td>
                        <td>O-</td>
                        <td> <input class="boton boton--primario" type="button" value="Enviar solicitud"> </td>
                    </tr>
                    <tr>
                        <td>Antonio Estrella</td>
                        <td>Mazatlán</td>
                        <td>O-</td>
                        <td> <input class="boton boton--primario" type="button" value="Enviar solicitud"> </td>
                    </tr>
                    <tr>
                        <td>Antonio Estrella</td>
                        <td>Mazatlán</td>
                        <td>O-</td>
                        <td> <input class="boton boton--primario" type="button" value="Enviar solicitud"> </td>
                    </tr>
                    <tr>
                        <td>Antonio Estrella</td>
                        <td>Mazatlán</td>
                        <td>O-</td>
                        <td> <input class="boton boton--primario" type="button" value="Enviar solicitud"> </td>
                    </tr>
                </tbody>
            </table>


        </div>
         <div><input type="button" class="boton boton--primario" value="Dejar de ser receptor" onclick="dejarDeSerReceptor()"><div>
    </main>

    <footer class="footer">
        <div class="contenedor">
            <div class="barra-inferior">

                <a class="logo" href="index.html">
                    <img src="img/Logo.PNG" alt="" height="70px">
                </a>

                <p>Misan 2022. Todos los derechos reservados.</p>

            </div>
        </div>
    </footer>

    <script src="js/modernizr.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="js/funcionReceptor.js"></script>
    <script src="js/funcionTabla.js">

    </script>
</body>

</html>