<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página web de blog de café">
    <title>Misan</title>
   
    <!--prefetch: sirve para precargar páginas-->
    <link rel="prefetch" href="nosotros.html" as="document">

   <!--Preload: sirve para precargar elementos que consideremos esenciales-->
    <link rel="preload" href="../static/css/normalize.css" as="style">
    <link rel="stylesheet" href="../static/css/normalize.css">

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" 
    crossorigin="crossorigin" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preload" href="../static/css/styles.css" as="style">
    <link rel="stylesheet" href="../static/css/styles.css">
 
</head>
<body>
    <header class="header">

        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                 <img src="img/Logo.PNG" alt="" height="70px">
                </a>

                <nav class="navegacion">
                  
                        <a class="navegacion__enlace" href="nosotros.html">Nosotros</a>
                       
                        <a class="navegacion__enlace" href="registro.html">Registro</a>
                     <ul>
                        <li><label class="navegacion__enlace" >¿Dudas?</label>
                            <ul>
                                <li><a href="requisitos.html">Requisitos</a></li>
                                <li><a href="mitos.html">Mitos</a></li>
                                <li><a href="pf.html">Preguntas frecuentes</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>  
        </div>
   </header>
   <div class="bg-img">
       <div class="overlay">
            <div class="header__texto">
                <h2 class="no-margin h2-espacio">#Donación de sangre</h2>
                <p class="no-margin">Donar tu sangre puede ayudar salvar vidas</p>
            </div>
        </div>
   </div>
        <section class="botones-ser"> 

            <div class="contenedor">
                
                <div class="ambos-botones"> 
                        <div class="boton-donador"> 
                        <input type="submit" value="Donador" class="boton boton--primario"">
                        </div> 
                        <div>
                            <input type="submit" value="Receptor" class="boton boton--primario""> 
                        </div>
                </div>

              <div class="botones-filtro">

                    <div class="contenedor">
                        <div class="contenedor">
                            <div class="campo tipo-sangre">
                            
                                    <select class="campo__field" name="tipoSangre" id="tipoSangre">
                                        <option disabled selected>Seleccione tipo de sangre</option>
                                        <option value="tipoSangre"> A+</option>
                                        <option value="tipoSangre"> A-</option>
                                        <option value="tipoSangre"> AB+</option>
                                        <option value="tipoSangre"> AB-</option>
                                        <option value="tipoSangre"> B+</option>
                                        <option value="tipoSangre"> B-+</option>  
                                        <option value="tipoSangre"> O+</option>
                                        <option value="tipoSangre"> O-</option>
                                    </select>
                              </div>
                            <div class="campo tipo-sangre">
                            
                                <select class="campo__field" name="ubicacion" id="ubicacion">
                                    <option disabled selected>Seleccione ubicación</option>
                                    <option value="ubicacion"> Nacional</option>
                                    <option value="ubicacion"> Estado</option>
                                    <option value="ubicacion"> Ciudad</option>
                                </select>
                            </div>

                        </div>
                    </div>
              </div> 

              <div class="boton-aceptar"> 
                <input type="submit" value="Continuar" class="boton boton--primario">
                </div> 
        </section>
             
        </div>
 
    <footer class="footer">
        <div class="contenedor">
            <div class="barra-inferior">
                
                    <a class="logo" href="index.html">
                    <img src="img/Logo.PNG" alt="" height="70px">
                    </a>

                    <p>Misan 2022. Todos los derechos reservados.</p>
                
            </div>
        </div>
    </footer>

    <script src="js/modernizr.js"></script>
</body>
</html>